body {
  font-family: 'Georgia', serif;
  background-color: #c6b451;
  margin: 0;
  padding: 0;
  color: #222;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  background-color: #fff7c8;
}

.hero-text {
  flex: 1;
  padding: 1rem;
}

.hero-image {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  border-radius: 20px;
}

.highlight {
  color: #57c0e7;
}

.info {
  padding: 2rem;
  background: #f6faa9;
}

.info ul {
  max-width: 600px;
  margin: 0 auto;
  list-style: disc;
  padding-left: 1.2rem;
  font-size: 1.1rem;
}

.help {
  padding: 2rem;
  text-align: center;
}

.help-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  background: #999;
  color: white;
  padding: 1.5rem;
  width: 200px;
  border-radius: 5px;
  font-weight: bold;
}

.cta {
  text-align: center;
  padding: 2rem;
  background-color: #dfd390;
}

.cta-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.cta-images img {
  width: 200px;
  border-radius: 10px;
}

.donate-btn {
  padding: 1rem 2rem;
  background-color: #222;
  color: rgb(118, 179, 223);
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.donate-btn:hover {
  background-color: #444;
}